@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root {
    --fs-primary-heading: 3rem;
    --fs-primary-paragraph: 1.5rem;
    --fs-nav-links: 1.125rem;

    --primary-font: 'Lora', serif;
    --secondary-font: 'Montserrat', sans-serif;

    --primary-bg-color: #181719;
    --primary-text-color: #ffffff;
    
}

body {
    background: var(--primary-bg-color);
    max-width: 1440px;
    max-height: 1080px;
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: var(--fs-nav-links);
    letter-spacing: 0.5px;
}

.nav__bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 24px;
}

.nav__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 60px;
}

.nav__brand {
    border: 1px solid white;
    font-size: 1rem;
}

.nav__link {
    transition: 0.7s;
}

.hamburger__menu {
    display: none;
    cursor: pointer;
}

.bars {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #ffffff;
}

@media screen and (max-width: 630px) {
    .hamburger__menu {
        display: block;
    } 
    .hamburger__menu.active .bars:nth-child(2) {
        opacity: 0;
    }
    .hamburger__menu.active .bars:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger__menu.active .bars:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav__menu {
        position: fixed;
        right: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        width: 50%;
        text-align: center;
        transition: 0.3s;
    }
    .nav__item {
        margin: 16px 0;
    }
    .nav__menu.active {
        right: 0;
        background: var(--primary-bg-color);
    }
}
