@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root {
    --fs-primary-heading: 3rem;
    --fs-primary-paragraph: 1.5rem;
    --fs-nav-links: 1.125rem;

    --primary-font: 'Lora', serif;
    --secondary-font: 'Montserrat', sans-serif;

    --primary-bg-color: #181719;
    --primary-text-color: #ffffff;
    
}

body {
    background: var(--primary-bg-color);
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    padding: 20px 20px;
    /* max-width: 1440px;
    max-height: 1080px; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: var(--fs-nav-links);
    letter-spacing: 0.5px;
    font-size: var(--fs-nav-links);
}

img {
    max-width: 100%;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.nav__brand {
    border: 1px solid var(--primary-text-color);
    font-size: 1rem;
}

.bars {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: var(--primary-text-color);
}

.hamburger__menu {
    display: block;
} 

.hamburger__menu.active .bars:nth-child(2) {
    opacity: 0;
}

.hamburger__menu.active .bars:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger__menu.active .bars:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav__menu {
    position: fixed;
    right: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    width: 50%;
    height: 70%;
    text-align: center;
    transition: 0.3s;
}

.nav__item {
    margin: 16px 0;
}

.nav__menu.active {
    right: 0;
    background: var(--primary-bg-color);
    z-index: 3;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    z-index: 1;
}   

.text__content {
    line-height: 1.2;
    letter-spacing: 0.5;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}  

.image__div img {
    position: relative;
    z-index: 1;
}  

.outer__container {
    background-color: #181719;
    padding: 8px 0 10px 8px;
    position: absolute;
    max-width: 100%;
    height: 90px;
    width: 80%;
    bottom: -85px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}   

.inner__container {
    width: 70%;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.username {
    margin-top: 6px;
}

.author img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    max-width: 100%;
}

#name {
    font-family: var(--secondary-font);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

#title {
    color: #828282;
    font-family: var(--secondary-font);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
}

#designer {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: var(--fs-nav-links);
    line-height: 23px;
}

@media screen and (min-width: 700px) {
    .hamburger__menu {
        display: none;
        cursor: pointer;
    }
    .nav__bar {
        border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
        position: relative;
    }
    .nav__menu {
        margin: 0;
        right: 0;
        top: 0;
        height: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        font-size: 1.75rem;
        position: absolute;
        padding: 10px 0;
    }
    .nav__brand {
        font-size: 1rem;
    }
    .container {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }
    .outer__container {
        width: 35%;
        height: 25%;
        bottom: -50px;
        right: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .inner__container {
        width: 60%;
    }
    .username {
        margin: 0;
    }
    .author img {
        width: 40px;
        height: 40px;
    }
    #name {
        font-size: 12px;
        line-height: 15px;
    }
    #title {
        font-size: 10px;
        line-height: 12px;
    }
    #designer {
        font-size: 14px;
        font-weight: 700;
        margin: 0;
    }
}

@media screen and (min-width: 1040px) {
    .outer__container {
        width: 30%;
        height: 25%;
        bottom: -50px;
        right: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }
    .inner__container {
        padding-left: 20px;

    }
    .author img {
        width: 50px;
        height: 50px;
    }
    .username {
        margin-top: 10px;
    }
    #name {
        font-size: 16px;
        line-height: 15px;
    }
    #title {
        font-size: 14px;
        line-height: 12px;
    }
    #designer {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }
}