@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root {
    --fs-primary-heading: 3rem;
    --fs-primary-paragraph: 1.5rem;
    --fs-nav-links: 1.125rem;

    --primary-font: 'Lora', serif;
    --secondary-font: 'Montserrat', sans-serif;

    --primary-bg-color: #181719;
    --primary-text-color: #ffffff;
    
}

body {
    background: var(--primary-bg-color);
    max-width: 1440px;
    max-height: 1080px;
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: var(--fs-nav-links);
    letter-spacing: 0.5px;
}

img {
    max-width: 100%;
}

.nav__bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 24px;
}

.nav__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 60px;
}

.nav__brand {
    border: 1px solid var(--primary-text-color);
    font-size: 1rem;
}

.nav__link {
    transition: 0.7s;
}

.hamburger__menu {
    display: none;
    cursor: pointer;
}

.bars {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: var(--primary-text-color);
}

/* Main container */
/* .container {
    border: 4px dotted hotpink;
}

.text__content {
    border: 2px solid blue;
}

.image__div {
    border: 3px solid yellow;
}

.outer__container {
    border: 3px solid red;
}

.inner__container {
    border: 3px dashed wheat;
}

.author {
    border: 3px solid violet;
} */

@media screen and (max-width: 630px) {
    .hamburger__menu {
        display: block;
    } 
    .hamburger__menu.active .bars:nth-child(2) {
        opacity: 0;
    }
    .hamburger__menu.active .bars:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger__menu.active .bars:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav__menu {
        position: fixed;
        right: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        width: 50%;
        height: 70%;
        text-align: center;
        transition: 0.3s;
    }
    .nav__item {
        margin: 16px 0;
    }
    .nav__menu.active {
        right: 0;
        background: var(--primary-bg-color);
        z-index: 3;
    }
    .container {
        border: 4px dotted hotpink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        z-index: 1;
    }    
    .text__content {
        border: 2px solid blue;
        line-height: 1.2;
        letter-spacing: 0.5;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }  
    .image__div img {
        border: 3px solid yellow;
        position: relative;
        z-index: 1;
    }  
    .outer__container {
        border: 3px solid red;
        background-color: #181719;
        position: absolute;
        width: 80%;
        height: 20%;
        bottom: 10px;
        z-index: 2;
    }   
    .inner__container {
        border: 3px dashed wheat;
        height: 100%;
    }   
    .author {
        border: 3px solid violet;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .username {
        border: 2px solid purple;
        
    }
    .author img {
        border: 1px solid white;
        border-radius: 50%;
        width: 20%;
        
    }
}
